<header>
  <div class="logo-wrapper">
    <a routerLink="/" class="logo">
      auto.market
    </a>
  </div>
  <div class="menu-item-wrapper">
    <div class="menu-item">
      <span class="dropbtn">Home</span>
    </div>
    <div class="menu-item">
      <span class="dropbtn">Sell Car</span>
    </div>
    <div class="menu-item">
      <span class="dropbtn">Buy Car</span>
    </div>
    <div class="menu-item">
      <span class="dropbtn">Market</span>
    </div>
    <div class="menu-item">
      <span class="dropbtn">Contact Us</span>
    </div>
  </div>
  <div class = "right-menu">
    <div class="menu-item">
      <span class="dropbtn"><mat-icon>directions_car</mat-icon></span>
    </div>
    <div class="menu-item">
      <span class="dropbtn"><mat-icon>star_border</mat-icon></span>
    </div>
    <div class="menu-item">
      <span class="dropbtn"><img src="assets/images/user-avatar.png" alt="brand" width="30" height="30"></span>
    </div>
    <div class="menu-item">
      <span class="dropbtn">Sami L.</span><mat-icon>keyboard_arrow_down</mat-icon>
    </div>
    <div class="postad-btn">
      + Post ad
    </div>
  </div>
</header>
